$ratio: 0.56333;
$cardWidth: 603px;
$height: $cardWidth * $ratio;
$items: 6;
$sliceWidth: $cardWidth/$items;

@mixin sliceBase() {
  width: $sliceWidth;
  transform: translate3d($sliceWidth, 0, 0);
  transform-style: preserve-3d;
  transform-origin: left;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
  }
}

@mixin singleSlice($num) {
  background-position: -1 * $num * $sliceWidth;
  &:before {
    // background-color: rgba(0, 0, 0, .1 * $num);
    background: linear-gradient(
      90deg,
      rgba(0,0,0, ($num - 1) * .1) 0%,
      rgba(0,0,0, $num * .1) 100%,
    );
  }
}

@mixin sliceHover($num) {
  transform: translate3d($sliceWidth, 0, 0) rotate3d(0, 1, 0, -6deg * $num);
  &:before {
    opacity: 1;
  }
}

@mixin contentBackdrop() {
  background: linear-gradient(
    90deg,
    rgba(0,0,0, .5) 0%,
    rgba(0,0,0, .3) 20%,
    rgba(0,0,0, .0) 40%,
  );
}

.card {
  position: relative;
  width: $cardWidth;
  height: $height;

  .content {
    @include contentBackdrop();
  }

  &.demo {
    .cover {
      .slice {
        @include sliceBase();
        @for $i from 1 to $items {
          &.s#{$i} {
            @include singleSlice($i);
          }
        }
      }
    }
    &:hover {
      .cover {
        .slice {
          @for $i from 1 to $items {
            &.s#{$i} {
              @include sliceHover($i);
            }
          }
        }
      }
    }
  }

  .cover {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    .slice {
      height: 100%;
      transition: all 0.4s;
      background-image: url('../assets/ironman.jpg');
      background-size: $cardWidth $height;
    }
    > .slice {
      transform: translate3d(0, 0, 0) !important;
      &:before {
        content: none !important;
      }
    }
  }
}
