@use "sass:color";

$dim: 100px;
$bg: #e3f2ff;
$accent: rgb(235, 207, 253);

$teal: rgb(0, 128, 128);

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: radial-gradient(
      circle,
      transparent 20%,
      $bg 20%,
      $bg 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        $bg 20%,
        $bg 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient($accent 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, $accent 8px, transparent 8px) -4px 0;
  background-color: $bg;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
.title {
  padding: 40px 0;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: #333;
  }
}
.container {
  perspective: 3 * $dim;
  font-size: 2 * $dim;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  margin-top: 200px;
}
.cube {
  transform-style: preserve-3d;
  height: $dim;
  width: $dim;
  animation: rotate 8s linear infinite;
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $teal;
    opacity: 0.5;
    border: 1px solid color.adjust($teal, $blackness: 20%);
    &:nth-child(1) {
      transform: translateZ(0.5 * $dim);
    }
    &:nth-child(2) {
      transform: rotateX(90deg) translateZ(0.5 * $dim);
    }
    &:nth-child(3) {
      transform: rotateY(-90deg) translateZ(0.5 * $dim);
    }
    &:nth-child(4) {
      transform: rotateY(180deg) translateZ(0.5 * $dim);
    }
    &:nth-child(5) {
      transform: rotateX(90deg) translateZ(0.5 * $dim);
    }
    &:nth-child(6) {
      transform: rotateX(-90deg) translateZ(0.5 * $dim);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
